[Unit]
Description=Currency Converter Bot
After=network.target localtunnel.service
Requires=localtunnel.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
# подтягиваем BOT_TOKEN и любые другие из /home/ubuntu/myenv
EnvironmentFile=/home/ubuntu/myenv

# Стартуем Java-бота, указываем Spring, где найти application.properties
ExecStart=/usr/bin/java -jar /home/ubuntu/bot.jar \
  --spring.config.location=file:/home/ubuntu/application.properties

# Перезапускать при любой ошибке, ждать 5 секунд перед рестартом
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
